
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.galileo-design-bRf {
  width: 100%;
  height: 172.3rem;
  background-color: #ffffff;

  .depth-0-frame-0-Bem {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;

    .depth-1-frame-0-zkd {
      width: 100%;
      height: 163.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .depth-2-frame-0-h9F {
        height: 6.5rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #e5e8ea;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.85rem 4rem;
        width: 100%;

        .plastic-bounty-BaD {
          font-size: 1.8rem;
          line-height: 1.25;
          letter-spacing: -0.027rem;
          white-space: nowrap;
          margin: 0.05rem 95.792rem 0rem 0rem;
          font-weight: 700;
          color: #111417;
          font-family: Manrope, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .depth-9-frame-0-Zqf {
          box-sizing: border-box;
          height: 100%;
          background-color: #11a0ed;
          border-radius: 1.2rem;
          flex-shrink: 0;
          padding: 1.2rem 2rem;
          width: 11.9078rem;
          overflow: hidden;
          position: relative;

          .depth-10-frame-0-53K {
            position: relative;
            font-weight: 700;
            white-space: nowrap;
            background-color: #11a0ed;
            width: 100%;
            overflow: hidden;
            line-height: 1.5;
            letter-spacing: 0.024rem;
            color: #ffffff;
            font-family: Manrope, 'Source Sans Pro';
            height: 100%;
            font-size: 1.6rem;
          }
        }
      }
      .auto-group-x4xe-gqj {
        box-sizing: border-box;
        padding: 3.6rem 17.5rem 0rem 17.6rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .depth-3-frame-0-yK3 {
          margin-bottom: 7.6rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .depth-6-frame-0-5ss {
            width: 92.8rem;
            position: relative;
            background-position: center;
            background-image: url('REPLACE_IMAGE:728e5cf738ecb4966845e5101fea4861eee60380');
            border-radius: 1.2rem;
            height: 48rem;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
            background-size: 100% 100%;
            overflow: hidden;
            margin-bottom: 5.6rem;
            box-sizing: border-box;
            padding: 16.4rem 2.4rem 8.8rem 5.6rem;
            background-repeat: no-repeat;
            flex-shrink: 0;

            .auto-group-s2cu-mVo {
              display: flex;
              flex-direction: column;
              box-sizing: border-box;
              padding-bottom: 3.2rem;
              width: 100%;
              height: 100%;

              .depth-9-frame-0-g6y {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 3.2rem;

                .join-the-fight-against-plastic-pollution-19F {
                  font-family: Manrope, 'Source Sans Pro';
                  letter-spacing: -0.1584rem;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.8rem;
                  font-size: 4.8rem;
                  font-weight: 800;
                  line-height: 1.25;
                }
                .plastic-bounty-is-a-mobile-app-that-allows-you-to-report-plastic-waste-near-sea-sources-by-doing-so-you-are-helping-scientists-and-environmentalists-to-better-understand-the-problem-of-plastic-pollution-and-take-action-to-solve-it-r9s {
                  max-width: 84.2rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Manrope, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
              .depth-9-frame-0-dpq {
                position: relative;
                background-color: #11a0ed;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.2rem 2rem;
                height: 4.8rem;
                cursor: pointer;
                width: 11.9078rem;
                overflow: hidden;
                border-radius: 1.2rem;

                .depth-10-frame-0-YB7 {
                  position: relative;
                  font-size: 1.6rem;
                  line-height: 1.5;
                  font-family: Manrope, 'Source Sans Pro';
                  background-color: #11a0ed;
                  width: 100%;
                  height: 100%;
                  letter-spacing: 0.024rem;
                  color: #ffffff;
                  white-space: nowrap;
                  overflow: hidden;
                  font-weight: 700;
                }
              }
            }
          }
          .depth-5-frame-0-DwT {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 6.8rem;

            .depth-7-frame-0-MGy {
              margin-bottom: 4rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .how-plastic-bounty-works-tXo {
                font-size: 3.6rem;
                font-weight: 800;
                line-height: 1.25;
                color: #111417;
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                letter-spacing: -0.1188rem;
                font-family: Manrope, 'Source Sans Pro';
                white-space: nowrap;
              }
              .report-plastic-waste-near-sea-sources-2-engage-with-a-community-3-see-real-time-updates-4-join-cleanup-events-5-contribute-to-research-aQd {
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #111417;
                font-family: Manrope, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 71.4rem;
              }
            }
            .depth-6-frame-1-ooB {
              height: 20.1rem;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              width: 100%;

              .depth-7-frame-0-vso {
                margin-right: 1.2rem;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .depth-9-frame-0-fKb {
                  height: 9.9rem;
                  object-fit: cover;
                  vertical-align: top;
                  border-radius: 1.2rem;
                  flex-shrink: 0;
                  margin-bottom: 1.2rem;
                  width: 17.6rem;
                }
                .depth-8-frame-1-xJh {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .report-plastic-waste-Unq {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #111417;
                    font-family: Manrope, 'Source Sans Pro';
                  }
                  .take-a-photo-of-plastic-waste-and-share-its-location-b6m {
                    line-height: 1.5;
                    color: #607a89;
                    font-family: Manrope, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 14.5rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                  }
                }
              }
              .depth-7-frame-1-3UZ {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                height: 100%;

                .depth-9-frame-0-azH {
                  margin-bottom: 1.2rem;
                  width: 17.6rem;
                  height: 9.9rem;
                  object-fit: cover;
                  vertical-align: top;
                  border-radius: 1.2rem;
                  flex-shrink: 0;
                }
                .depth-8-frame-1-Hdo {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .engage-with-a-community-vwf {
                    font-weight: 500;
                    line-height: 1.5;
                    color: #111417;
                    font-family: Manrope, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 10.5rem;
                    font-size: 1.6rem;
                  }
                  .connect-with-others-who-also-care-about-the-ocean-qYq {
                    max-width: 16.7rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #607a89;
                    font-family: Manrope, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                }
              }
              .auto-group-zdcq-Cw7 {
                height: 100%;
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1.2rem;

                .depth-7-frame-2-8Jy {
                  margin-right: 1.1rem;
                  width: 17.7rem;
                  flex-shrink: 0;

                  .depth-9-frame-0-3B3 {
                    height: 9.9rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1.2rem;
                    margin-bottom: 1.2rem;
                    width: 17.6rem;
                  }
                  .depth-8-frame-1-8iH {
                    flex-direction: column;
                    width: 100%;
                    display: flex;

                    .real-time-updates-sfs {
                      font-weight: 500;
                      line-height: 1.5;
                      color: #111417;
                      font-family: Manrope, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.6rem;
                    }
                    .see-how-your-reports-make-a-difference-kjf {
                      color: #607a89;
                      font-family: Manrope, 'Source Sans Pro';
                      flex-shrink: 0;
                      max-width: 17.7rem;
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                    }
                  }
                }
                .depth-7-frame-3-3Ts {
                  margin-right: 1.2rem;
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .depth-9-frame-0-Nm3 {
                    margin-bottom: 1.2rem;
                    width: 17.6rem;
                    height: 9.9rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1.2rem;
                    flex-shrink: 0;
                  }
                  .depth-8-frame-1-HND {
                    flex-direction: column;
                    flex-shrink: 0;
                    display: flex;

                    .join-cleanup-events-SF7 {
                      font-size: 1.6rem;
                      font-weight: 500;
                      line-height: 1.5;
                      color: #111417;
                      font-family: Manrope, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .find-local-events-to-help-clean-up-the-coast-m2V {
                      max-width: 15.5rem;
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                      color: #607a89;
                      font-family: Manrope, 'Source Sans Pro';
                      flex-shrink: 0;
                    }
                  }
                }
                .depth-7-frame-4-cYu {
                  width: 17.7rem;
                  flex-shrink: 0;

                  .depth-9-frame-0-MFb {
                    margin-bottom: 1.2rem;
                    width: 17.6rem;
                    height: 9.9rem;
                    object-fit: cover;
                    vertical-align: top;
                    border-radius: 1.2rem;
                  }
                  .depth-8-frame-1-G7f {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .contribute-to-research-cBX {
                      line-height: 1.5;
                      color: #111417;
                      font-family: Manrope, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      font-size: 1.6rem;
                      font-weight: 500;
                    }
                    .help-scientists-understand-the-scale-of-the-problem-Krd {
                      color: #607a89;
                      font-family: Manrope, 'Source Sans Pro';
                      flex-shrink: 0;
                      max-width: 17.7rem;
                      font-size: 1.4rem;
                      font-weight: 400;
                      line-height: 1.5;
                    }
                  }
                }
              }
            }
          }
          .depth-6-frame-0-YjP {
            box-sizing: border-box;
            width: 92.8rem;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
            background-image: url('REPLACE_IMAGE:6c2ca9187e5b6ba455f8357cc388ecf58b259bad');
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 1.2rem;
            padding: 23.6rem 5.5rem 2.4rem 5.6rem;
            height: 48rem;
            overflow: hidden;
            position: relative;
            background-size: 100% 100%;
            flex-shrink: 0;

            .depth-7-frame-0-Es7 {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;

              .depth-9-frame-0-jJ5 {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                margin-bottom: 3.2rem;
                width: 100%;

                .were-all-in-this-together-fhX {
                  margin-bottom: 0.8rem;
                  font-weight: 800;
                  line-height: 1.25;
                  letter-spacing: -0.1584rem;
                  color: #ffffff;
                  font-family: Manrope, 'Source Sans Pro';
                  font-size: 4.8rem;
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .plastic-pollution-is-a-global-problem-but-it-can-be-solved-if-we-work-together-thats-why-weve-created-plastic-bounty-to-empower-individuals-and-communities-to-take-action-and-protect-our-oceans-join-us-today-and-help-make-a-difference-for-future-generations-85K {
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Manrope, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 81.7rem;
                  font-size: 1.6rem;
                  font-weight: 400;
                }
              }
              .depth-9-frame-0-4dB {
                width: 11.9078rem;
                overflow: hidden;
                background-color: #11a0ed;
                border-radius: 1.2rem;
                box-sizing: border-box;
                padding: 1.2rem 2rem;
                height: 4.8rem;
                cursor: pointer;
                position: relative;
                flex-shrink: 0;

                .depth-10-frame-0-AgD {
                  color: #ffffff;
                  font-family: Manrope, 'Source Sans Pro';
                  position: relative;
                  font-weight: 700;
                  line-height: 1.5;
                  font-size: 1.6rem;
                  letter-spacing: 0.024rem;
                  white-space: nowrap;
                  background-color: #11a0ed;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                }
              }
            }
          }
        }
        .plastic-bounty-uGR {
          white-space: nowrap;
          margin-right: 0.1rem;
          font-weight: 400;
          line-height: 1.5;
          font-family: Manrope, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          color: #607a89;
        }
      }
    }
  }
}
