
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.galileo-design-bRf {
  width: 100%;
  height: 172.3rem;
  background-color: #ffffff;
}
.galileo-design-bRf .depth-0-frame-0-Bem {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd {
  width: 100%;
  height: 163.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .depth-2-frame-0-h9F {
  box-sizing: border-box;
  padding: 0.85rem 4rem;
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e5e8ea;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .depth-2-frame-0-h9F .plastic-bounty-BaD {
  margin: 0.05rem 95.792rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.027rem;
  color: #111417;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .depth-2-frame-0-h9F .depth-9-frame-0-Zqf {
  box-sizing: border-box;
  padding: 1.2rem 2rem;
  width: 11.9078rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #11a0ed;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .depth-2-frame-0-h9F .depth-9-frame-0-Zqf .depth-10-frame-0-53K {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #11a0ed;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj {
  box-sizing: border-box;
  padding: 3.6rem 17.5rem 0rem 17.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 {
  margin-bottom: 7.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-5ss {
  margin-bottom: 5.6rem;
  box-sizing: border-box;
  padding: 16.4rem 2.4rem 8.8rem 5.6rem;
  width: 92.8rem;
  height: 48rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/depth-6-frame-0-bg.png');
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-5ss .auto-group-s2cu-mVo {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-5ss .auto-group-s2cu-mVo .depth-9-frame-0-g6y {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-5ss .auto-group-s2cu-mVo .depth-9-frame-0-g6y .join-the-fight-against-plastic-pollution-19F {
  margin-bottom: 0.8rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.1584rem;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-5ss .auto-group-s2cu-mVo .depth-9-frame-0-g6y .plastic-bounty-is-a-mobile-app-that-allows-you-to-report-plastic-waste-near-sea-sources-by-doing-so-you-are-helping-scientists-and-environmentalists-to-better-understand-the-problem-of-plastic-pollution-and-take-action-to-solve-it-r9s {
  max-width: 84.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-5ss .auto-group-s2cu-mVo .depth-9-frame-0-dpq {
  box-sizing: border-box;
  padding: 1.2rem 2rem;
  width: 11.9078rem;
  height: 4.8rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #11a0ed;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-5ss .auto-group-s2cu-mVo .depth-9-frame-0-dpq .depth-10-frame-0-YB7 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #11a0ed;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT {
  margin-bottom: 6.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-7-frame-0-MGy {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-7-frame-0-MGy .how-plastic-bounty-works-tXo {
  margin-bottom: 1.6rem;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.1188rem;
  color: #111417;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-7-frame-0-MGy .report-plastic-waste-near-sea-sources-2-engage-with-a-community-3-see-real-time-updates-4-join-cleanup-events-5-contribute-to-research-aQd {
  max-width: 71.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111417;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB {
  width: 100%;
  height: 20.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-0-vso {
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-0-vso .depth-9-frame-0-fKb {
  margin-bottom: 1.2rem;
  width: 17.6rem;
  height: 9.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-0-vso .depth-8-frame-1-xJh {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-0-vso .depth-8-frame-1-xJh .report-plastic-waste-Unq {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-0-vso .depth-8-frame-1-xJh .take-a-photo-of-plastic-waste-and-share-its-location-b6m {
  max-width: 14.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #607a89;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-1-3UZ {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-1-3UZ .depth-9-frame-0-azH {
  margin-bottom: 1.2rem;
  width: 17.6rem;
  height: 9.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-1-3UZ .depth-8-frame-1-Hdo {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-1-3UZ .depth-8-frame-1-Hdo .engage-with-a-community-vwf {
  max-width: 10.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .depth-7-frame-1-3UZ .depth-8-frame-1-Hdo .connect-with-others-who-also-care-about-the-ocean-qYq {
  max-width: 16.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #607a89;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 {
  box-sizing: border-box;
  padding-left: 1.2rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-2-8Jy {
  margin-right: 1.1rem;
  width: 17.7rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-2-8Jy .depth-9-frame-0-3B3 {
  margin-bottom: 1.2rem;
  width: 17.6rem;
  height: 9.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-2-8Jy .depth-8-frame-1-8iH {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-2-8Jy .depth-8-frame-1-8iH .real-time-updates-sfs {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-2-8Jy .depth-8-frame-1-8iH .see-how-your-reports-make-a-difference-kjf {
  max-width: 17.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #607a89;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-3-3Ts {
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-3-3Ts .depth-9-frame-0-Nm3 {
  margin-bottom: 1.2rem;
  width: 17.6rem;
  height: 9.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-3-3Ts .depth-8-frame-1-HND {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-3-3Ts .depth-8-frame-1-HND .join-cleanup-events-SF7 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-3-3Ts .depth-8-frame-1-HND .find-local-events-to-help-clean-up-the-coast-m2V {
  max-width: 15.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #607a89;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-4-cYu {
  width: 17.7rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-4-cYu .depth-9-frame-0-MFb {
  margin-bottom: 1.2rem;
  width: 17.6rem;
  height: 9.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.2rem;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-4-cYu .depth-8-frame-1-G7f {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-4-cYu .depth-8-frame-1-G7f .contribute-to-research-cBX {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #111417;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-5-frame-0-DwT .depth-6-frame-1-ooB .auto-group-zdcq-Cw7 .depth-7-frame-4-cYu .depth-8-frame-1-G7f .help-scientists-understand-the-scale-of-the-problem-Krd {
  max-width: 17.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #607a89;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-YjP {
  box-sizing: border-box;
  padding: 23.6rem 5.5rem 2.4rem 5.6rem;
  width: 92.8rem;
  height: 48rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/depth-6-frame-0-bg-Pnm.png');
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-YjP .depth-7-frame-0-Es7 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-YjP .depth-7-frame-0-Es7 .depth-9-frame-0-jJ5 {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-YjP .depth-7-frame-0-Es7 .depth-9-frame-0-jJ5 .were-all-in-this-together-fhX {
  margin-bottom: 0.8rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.1584rem;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-YjP .depth-7-frame-0-Es7 .depth-9-frame-0-jJ5 .plastic-pollution-is-a-global-problem-but-it-can-be-solved-if-we-work-together-thats-why-weve-created-plastic-bounty-to-empower-individuals-and-communities-to-take-action-and-protect-our-oceans-join-us-today-and-help-make-a-difference-for-future-generations-85K {
  max-width: 81.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-YjP .depth-7-frame-0-Es7 .depth-9-frame-0-4dB {
  box-sizing: border-box;
  padding: 1.2rem 2rem;
  width: 11.9078rem;
  height: 4.8rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #11a0ed;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .depth-3-frame-0-yK3 .depth-6-frame-0-YjP .depth-7-frame-0-Es7 .depth-9-frame-0-4dB .depth-10-frame-0-AgD {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #ffffff;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #11a0ed;
}
.galileo-design-bRf .depth-0-frame-0-Bem .depth-1-frame-0-zkd .auto-group-x4xe-gqj .plastic-bounty-uGR {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #607a89;
  font-family: Manrope, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
